@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    padding: 0;
    margin: 0;
    color: #202624;
}
/* Estilo do nav */
nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px 0;
    background: #4F8A70;
}
h1{
    text-align: center;
    display: block;
    margin: auto;
    Color: #164A41;
}
menu{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}
header{
    width: 100%;
    background-color: #164A41;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
nav a{
    background-color: #164A41;
    color: #FFFFFF;
    padding: 8px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;
    text-decoration: none;
}
#login{
    padding: 8px;
    padding-top: 30px;
    margin-left: 5px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: #D96F1F;
}   
main{
    background-color: #F7F4ED;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#logo{
    width: 100px;
    margin: auto;
    display: block;
    
}
a{
    color: #164A41;
}
a:hover{
    background-color: #D96F1F;
}
menu a{
    color: white;
    width: 60px;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}
.carrossel{
position:relative;
width:100%;
max-width:1000px;
height:450px;
margin:auto;
overflow:hidden;
border-radius:15px;
}

.slides{
display:flex;
width:300%;
height:100%;
transition:transform 0.5s ease;
}

.slide{
width:33.333%;
height:100%;
flex-shrink:0;
}

.slide img{
width:100%;
height:100%;
object-fit:cover;
}

.carrossel button{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.5);
color:white;
border:none;
font-size:30px;
padding:10px 15px;
cursor:pointer;
border-radius:50%;
}

.anterior{
left:15px;
}

.proximo{
right:15px;
}

.carrossel button:hover{
background:rgba(0,0,0,0.8);
}